<!DOCTYPE html>
<html class="fsvs">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../scripts/index.css">
    <link href="../styles/fsvs.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="//vjs.zencdn.net/5.8/video-js.min.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/5.8/video.min.js"></script>

</head>
<body id="content">
    <div class="header">
        <div class="am-header-inner">
            <div class="mainNav">
                <div class="laymid">
                    <div class="alipay-logo"></div>
                    <div id="J_mainMenu" class="mainMenu">
                        <ul>
                            <li class="channel" v-bind:class="{'on':$index+1===currentPage}" v-for="title in titleList">
                                <a class="channel-a" v-on:click="choseTitle($index)" href="javascript:;">{{title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body" id="fsvs-body">
        <div class="slide" v-for="item in imgList">
            <carousel class="home" v-bind:style="{height:currentHeight+'px'}">
                <slider v-for="backImg in item" v-bind:style="backImg.styleObject">
                    <div class="body-content">
                        <div class="topClass" v-bind:style="backImg.top.top">
                            {{backImg.top.characte}}
                        </div>
                        <div class="middle middle">
                            <div class="leftClass" v-bind:style="backImg.middle.left.left">
                                {{backImg.middle.left.characte}}
                            </div>
                            <div class="middleClass middle">
                                <video v-if="backImg.middle.middle.isVideo" id="example_video1" class="video-js vjs-default-skin vjs-big-play-centered" controls width="800" height="450">
                                 <source v-bind:src="backImg.middle.middle.srcVideo" type='video/mp4'/>
                                </video>
                                <div v-else v-bind:style="backImg.middle.middle.middle">
                                    {{backImg.middle.middle.characte}}
                                </div>
                            </div>
                            <div class="rightClass" v-bind:style="backImg.middle.right.right">
                                {{backImg.middle.right.characte}}
                            </div>
                        </div>
                        <div class="bottomClass" v-bind:style="backImg.bottom.bottom">
                            {{backImg.bottom.characte}}
                        </div>
                    </div>
                </slider>
            </carousel>
        </div>
    </div>
<script src="../scripts/main.js"></script>
<script>
var myPlayer = videojs('example_video1');
videojs("example_video1").ready(function(){
    var myPlayer = this;
    myPlayer.play();
});
// var myPlayer = videojs("example_video1", {
//     "techOrder": ["flash","html"],
//     "autoplay":false,
//     controlBar: {
//         captionsButton: false,
//         chaptersButton : false,
//         liveDisplay:false,
//         playbackRateMenuButton: false,
//         subtitlesButton:false
//       }
//
// }, function(){
//
//     this.on('loadeddata',function(){
//         console.log(this,"this")
//     })
//
//     this.on('ended',function(){
//          this.pause();
//         //  this.hide()
//     })
//
// });
// videojs("example_video1").ready(function(){
//     var myPlayer = this;
//     myPlayer.play();
// });
</script>
</body>
</html>
